<footer>
    <div class="wrapper">
        <ul class="footer-menu" layout="row" layout-sm="column">
            <li>
                <strong>© TIYARA 2016</strong>
            </li>
            <li>
                <a href="#">Terms & Conditions</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Cookie Policy</a>
            </li>
            <li>
                <a class="backToTopContainer" href="#">Back To Top</a>
            </li>
        </ul>
    </div>
</footer>