<md-toolbar class="header dark" layout="row">
    <div class="md-toolbar-tools">
        <md-button aria-label="Go Back">
            Logo
        </md-button>
        <span flex></span>
        
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email">
            </md-input-container>
            <md-input-container class="">
                <label>Password</label>
                <input ng-model="user.password">
            </md-input-container>

        
        <md-button class="md-accent md-raised">Login</md-button>
    </div>
</md-toolbar>